{% extends "base.html" %}

{% load static widget_tweaks %}

{% block title %}
Смена пароля
{% endblock %}

{% block content %}

{% if validlink %}

<h1 class="fs-2 fw-bold text-center">Пароль успешно изменён</h1>
<div class="container d-flex justify-content-center">
  <div class="w-50">
    <div class="alert alert-success">
      <h1 class="alert-heading">Можете пользоваться новым паролем!</h1>
      <p>Удачного пользования сервисом</p>
    </div>
  </div>
</div>

{% else %}

<h1 class="fs-2 fw-bold text-center">Упс!</h1>
<div class="container d-flex justify-content-center">
  <div class="w-50">
    <div class="alert alert-success">
      <h1 class="alert-heading">Ссылка больше недействительна</h1>
      <p>Вероятно, у неё истёк период действия, или ей уже воспользовались :(</p>
    </div>
  </div>
</div>

{% endblock %}