{% extends "base.html" %}

{% load static widget_tweaks %}

{% block title %}
Восстановление пароля
{% endblock %}

{% block content %}
<h1 class="fs-2 fw-bold text-center">Восстановление пароля</h1>
<div class="container d-flex justify-content-center">
  <div class="w-50">
    <form method="post">
      {% csrf_token %}

      <div class="my-2">

        {% for field in form.visible_fields %}

        <div class="my-2">

          {% for error in field.errors %}

          <div class="my-1 alert alert-danger">
            {{ error|escape }}
          </div>

          {% endfor %}

        </div>

        <div class="form-floating my-2">
          {{ field|add_class:"form-control" }}
          <label for="{{ field.auto_id }}">{{ field.label }}</label>
        </div>
        <p class="fs-6 text-muted">Введите почту, на которую придет код восстановления</p>

        {% endfor %}

      </div>

      {% if form.non_field_errors %}

        <div class="alert alert-danger my-2">
          <h4 class="alert-heading">Ошибка</h4>

          {% for error in form.non_field_errors %}
          
          <p class="my-1">{{ error|escape }}</p>

          {% endfor %}

        </div>

      {% endif %}

      <div class="my-2">
        <button type="submit" class="btn btn-primary">Прислать код восстановления</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}