{% extends "base.html" %}

{% load static widget_tweaks %}

{% block title %}
Смена пароля
{% endblock %}

{% block content %}
<h1 class="fs-2 fw-bold text-center">Смена пароля</h1>
<div class="container d-flex justify-content-center">
  <div class="w-50">
    <form method="post">
      {% csrf_token %}

      <div class="my-2">

        {% for field in form.visible_fields %}

        <div class="my-2">
          {% for error in field.errors %}
          <div class="my-1 alert alert-danger">
            {{ error|escape }}
          </div>
          {% endfor %}
        </div>

        <div class="form-floating my-2">
          {{ field|add_class:"form-control" }}
          <label for="{{ field.auto_id }}">{{ field.label }}</label>
        </div>
        {% if field.help_text %}
        <p class="fs-6 text-muted">{{ field.help_text }}</p>
        {% endif %}

        {% endfor %}
      </div>
      <div class="my-2">
        <input type="submit" class="btn btn-primary" value="Сменить">
      </div>
    </form>
  </div>
</div>

{% endblock %}