{% extends "base.html" %}

{% load static i18n %}

{% block title %}
{% translate "list_of_items" %}
{% endblock %}

{% block content %}
{% with request.resolver_match.view_name as view_name %}
<div class="my-2 d-flex flex-wrap align-items-center justify-content-center justify-content-md-between border-bottom">
  <h1 class="fw-bold fs-2 mb-3">Опубликованные товары</h1>
  <div class="btn-group">
    <a href="{% url 'catalog:items_new' %}" class="btn btn-outline-success {% if view_name == "catalog:items_new" %}active{% endif %}">Новинки</a>
    <a href="{% url 'catalog:items_friday' %}" class="btn btn-outline-success {% if view_name == "catalog:items_friday" %}active{% endif %}">Пятница</a>
    <a href="{% url 'catalog:items_unverified' %}" class="btn btn-outline-success {% if view_name == "catalog:items_unverified" %}active{% endif %}">Непроверенное</a>
  </div>
</div>
{% endwith %}
<div class="container my-2 py-2 px-3">
  <div class="row">
    {% for item in items %}
    {% ifchanged item.category.name %}<h2 class="mx-2 fw-bold fs-4 mb-2">{{ item.category.name }}</h2>{% endifchanged %}
    {% include "includes/item_card.html" %}
    {% empty %}
    <div class="alert alert-dark">
      <h4 class="alert-heading">Упс! Похоже, товаров нет.</h4>
      <p>Попробуйте заглянуть в другое время или добавьте сами. Также можете проверить, корректно ли настроен фильтр.
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}